## Import Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Gathering Data

Data Overview

1. client_num: Nomor unik identifikasi pelanggan (ID unik untuk setiap nasabah).
2. customer_age: Usia pelanggan.
3. gender: Jenis kelamin pelanggan.
4. dependent_count: Jumlah tanggungan pelanggan.
5. education_level: Tingkat pendidikan pelanggan.
6. marital_status: Status pernikahan pelanggan.
7. state_cd: Kode provinsi atau wilayah tempat pelanggan tinggal.
8. zipcode: Kode pos tempat tinggal pelanggan.
9. car_owner: Menunjukkan apakah pelanggan memiliki mobil.
10. house_owner: Menunjukkan apakah pelanggan memiliki rumah.
11. personal_loan: Menunjukkan apakah pelanggan memiliki pinjaman pribadi.
12. contact: Jenis kontak utama pelanggan.
13. customer_job: Jenis pekerjaan atau profesi pelanggan.
14. income: Pendapatan tahunan pelanggan.
15. cust_satisfaction_score: Skor kepuasan pelanggan terhadap layanan bank atau kartu.
16. card_category: Jenis kartu kredit yang dimiliki pelanggan.
17. annual_fees: Biaya tahunan yang dibebankan untuk kartu kredit.
18. activation_30_days: Indikator apakah kartu diaktifkan dalam 30 hari setelah diterbitkan.
19. customer_acq_cost: Biaya akuisisi pelanggan (biaya marketing/sales untuk mendapatkan pelanggan tersebut).
20. week_start_date: Tanggal awal minggu yang menjadi periode pengamatan transaksi atau data.
21. week_num: Nomor minggu dalam tahun.
22. qtr: Kuartal tahun (1-4).
23. current_year: Tahun data dicatat.
24. credit_limit: Batas maksimum kredit yang diberikan kepada pelanggan.
25. total_revolving_bal: Saldo bergulir (jumlah tagihan yang belum dibayar penuh dan diteruskan ke bulan berikutnya).
26. total_trans_amt: Total nilai transaksi yang dilakukan pelanggan dalam periode tertentu.
27. total_trans_vol: Jumlah transaksi (frekuensi penggunaan kartu) dalam periode tertentu.
28. avg_utilization_ratio: Rasio pemanfaatan kredit rata-rata.
29. use_chip: pakah transaksi menggunakan chip kartu.
30. exp_type: Tipe kartu.
31. interested_earned: Bunga atau insentif yang diperoleh.
32. deliquent_acc: Jumlah akun bermasalah atau keterlambatan pembayaran.

In [3]:
df = pd.read_csv("../Dataset/credit_card_1.csv", delimiter = ";")

df

,client_num,customer_age,gender,dependent_count,education_level,marital_status,state_cd,zipcode,car_owner,house_owner,...,current_year,credit_limit,total_revolving_bal,total_trans_amt,total_trans_vol,avg_utilization_ratio,use_chip,exp_type,interest_earned,delinquent_acc
0,708082083,24,F,1,Uneducated,Single,FL,91750,no,yes,...,2023,3544.0,1661,15149,111,0.469,Chip,Travel,4393.21,0
1,708083283,62,F,0,Unknown,Married,NJ,91750,no,no,...,2023,3421.0,2517,992,21,0.736,Swipe,Entertainment,69.44,0
2,708084558,32,F,1,Unknown,Married,NJ,91750,yes,no,...,2023,8258.0,1771,1447,23,0.214,Chip,Bills,202.58,0
3,708085458,38,M,2,Uneducated,Single,NY,91750,no,no,...,2023,1438.3,0,3940,82,0.000,Online,Grocery,236.40,0
4,708086958,48,M,4,Graduate,Single,TX,91750,yes,yes,...,2023,3128.0,749,4369,59,0.239,Swipe,Fuel,1004.87,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5049,717891558,47,F,4,Post-Graduate,Unknown,TX,91750,yes,yes,...,2023,3298.0,2200,1052,32,0.667,Swipe,Bills,115.72,0
5050,717893358,44,M,4,Unknown,Married,AK,99504,yes,yes,...,2023,7951.0,1456,4452,65,0.183,Swipe,Travel,267.12,0
5051,717895833,49,M,2,High School,Single,TX,91750,yes,yes,...,2023,6455.0,1837,8001,99,0.285,Swipe,Fuel,720.09,0
5052,717898758,42,M,3,High School,Single,FL,91750,no,no,...,2023,12207.0,0,5838,74,0.000,Swipe,Food,1517.88,0
5053,717903108,54,M,1,High School,Single,TX,91750,no,no,...,2023,4283.0,488,4689,65,0.114,Chip,Fuel,422.01,0

## Assessing Data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5054 entries, 0 to 5053
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   client_num               5054 non-null   int64
 1   customer_age             5054 non-null   int64
 2   gender                   5054 non-null   object
 3   dependent_count          5054 non-null   int64
 4   education_level          5054 non-null   object
 5   marital_status           5054 non-null   object
 6   state_cd                 5054 non-null   object
 7   zipcode                  5054 non-null   int64
 8   car_owner                5054 non-null   object
 9   house_owner              5054 non-null   object
 10  personal_loan            5054 non-null   object
 11  contact                  5054 non-null   object
 12  customer_job             5054 non-null   object
 13  income                   5054 non-null   int64
 14  cust_satisfaction_score  5054 non-null   int64
 15  card_category            5054 non-null   object
 16  annual_fees              5054 non-null   int64
 17  activation_30_days       5054 non-null   int64
 18  customer_acq_cost        5054 non-null   int64
 19  week_start_date          5054 non-null   object
 20  week_num                 5054 non-null   object
 21  qtr                      5054 non-null   object
 22  current_year             5054 non-null   int64
 23  credit_limit             5054 non-null   float64
 24  total_revolving_bal      5054 non-null   int64
 25  total_trans_amt          5054 non-null   int64
 26  total_trans_vol          5054 non-null   int64
 27  avg_utilization_ratio    5054 non-null   float64
 28  use_chip                 5054 non-null   object
 29  exp_type                 5054 non-null   object
 30  interest_earned          5054 non-null   float64
 31  delinquent_acc           5054 non-null   int64
dtypes: float64(3), int64(14), object(15)
memory usage: 1.2+ MB

In [5]:
df.describe()

,client_num,customer_age,dependent_count,zipcode,income,cust_satisfaction_score,annual_fees,activation_30_days,customer_acq_cost,current_year,credit_limit,total_revolving_bal,total_trans_amt,total_trans_vol,avg_utilization_ratio,interest_earned,delinquent_acc
count,5.054000e+03,5054.000000,5054.000000,5054.000000,5054.000000,5054.000000,5054.000000,5054.000000,5054.000000,5054.0,5054.000000,5054.000000,5054.000000,5054.000000,5054.000000,5054.000000,5054.000000
mean,7.129947e+08,46.230313,2.346458,91683.349030,56944.355362,2.253660,293.575386,0.565295,95.918678,2023.0,8521.206965,1156.421053,4415.184804,64.611001,0.274955,770.523746,0.062723
std,2.755780e+06,8.020801,1.297164,1494.891223,46179.666785,0.894693,117.704849,0.495767,25.458843,0.0,9028.341110,824.254666,3401.328680,23.398548,0.278556,719.816240,0.242487
min,7.080821e+08,21.000000,0.000000,53010.000000,1250.000000,1.000000,95.000000,0.000000,40.000000,2023.0,1438.300000,0.000000,510.000000,10.000000,0.000000,42.140000,0.000000
25%,7.106790e+08,41.000000,1.000000,91750.000000,22433.750000,2.000000,195.000000,0.000000,79.000000,2023.0,2533.000000,0.000000,2144.000000,44.000000,0.000000,324.762500,0.000000
50%,7.130263e+08,46.000000,2.000000,91750.000000,44657.500000,2.000000,295.000000,1.000000,94.000000,2023.0,4476.500000,1270.500000,3895.000000,67.000000,0.173000,553.680000,0.000000
75%,7.153002e+08,52.000000,3.000000,91750.000000,76561.500000,3.000000,395.000000,1.000000,112.000000,2023.0,10846.000000,1783.750000,4746.750000,80.000000,0.503000,949.295000,0.000000
max,7.179031e+08,73.000000,5.000000,99504.000000,239676.000000,5.000000,500.000000,1.000000,172.000000,2023.0,34516.000000,2517.000000,17995.000000,139.000000,0.999000,4759.560000,1.000000

## Cleaning Data

In [6]:
columns = ["client_num", "zipcode"]

for col in columns:
    df[col] = df[col].astype("object")

In [9]:
columns = ["week_start_date"]

for col in columns:
    df[col] = pd.to_datetime(df[col], format = "%d-%m-%Y")

In [10]:
columns = ["income", "annual_fees", "customer_acq_cost", "total_revolving_bal", "total_trans_amt", "total_trans_vol"]

for col in columns:
    df[col] = df[col].astype(float)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5054 entries, 0 to 5053
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   client_num               5054 non-null   object
 1   customer_age             5054 non-null   int64
 2   gender                   5054 non-null   object
 3   dependent_count          5054 non-null   int64
 4   education_level          5054 non-null   object
 5   marital_status           5054 non-null   object
 6   state_cd                 5054 non-null   object
 7   zipcode                  5054 non-null   object
 8   car_owner                5054 non-null   object
 9   house_owner              5054 non-null   object
 10  personal_loan            5054 non-null   object
 11  contact                  5054 non-null   object
 12  customer_job             5054 non-null   object
 13  income                   5054 non-null   float64
 14  cust_satisfaction_score  5054 non-null   int64
 15  card_category            5054 non-null   object
 16  annual_fees              5054 non-null   float64
 17  activation_30_days       5054 non-null   int64
 18  customer_acq_cost        5054 non-null   float64
 19  week_start_date          5054 non-null   datetime64[ns]
 20  week_num                 5054 non-null   object
 21  qtr                      5054 non-null   object
 22  current_year             5054 non-null   int64
 23  credit_limit             5054 non-null   float64
 24  total_revolving_bal      5054 non-null   float64
 25  total_trans_amt          5054 non-null   float64
 26  total_trans_vol          5054 non-null   float64
 27  avg_utilization_ratio    5054 non-null   float64
 28  use_chip                 5054 non-null   object
 29  exp_type                 5054 non-null   object
 30  interest_earned          5054 non-null   float64
 31  delinquent_acc           5054 non-null   int64
dtypes: datetime64[ns](1), float64(9), int64(6), object(16)
memory usage: 1.2+ MB

In [12]:
df.head()

,client_num,customer_age,gender,dependent_count,education_level,marital_status,state_cd,zipcode,car_owner,house_owner,...,current_year,credit_limit,total_revolving_bal,total_trans_amt,total_trans_vol,avg_utilization_ratio,use_chip,exp_type,interest_earned,delinquent_acc
0,708082083,24,F,1,Uneducated,Single,FL,91750,no,yes,...,2023,3544.0,1661.0,15149.0,111.0,0.469,Chip,Travel,4393.21,0
1,708083283,62,F,0,Unknown,Married,NJ,91750,no,no,...,2023,3421.0,2517.0,992.0,21.0,0.736,Swipe,Entertainment,69.44,0
2,708084558,32,F,1,Unknown,Married,NJ,91750,yes,no,...,2023,8258.0,1771.0,1447.0,23.0,0.214,Chip,Bills,202.58,0
3,708085458,38,M,2,Uneducated,Single,NY,91750,no,no,...,2023,1438.3,0.0,3940.0,82.0,0.000,Online,Grocery,236.40,0
4,708086958,48,M,4,Graduate,Single,TX,91750,yes,yes,...,2023,3128.0,749.0,4369.0,59.0,0.239,Swipe,Fuel,1004.87,1

In [13]:
df.to_csv("Credit Card Cleaning.csv", index = False, sep = ",")